{% extends 'basefront.html.twig' %}
{% block contentblock %}
<style>
.custom-card {
    border-radius: 10px;
  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    display: inline-block;
    width: 90%;
    background-color: #232931;
    transition: box-shadow 0.2s ease-in-out;
}

.custom-card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.custom-card h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #FFFFFF;
}

.custom-card p {
    margin-top: 0px;
    color: #FFFFFF;
}

.custom-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #AA336A;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.custom-card a:hover {
    background-color: #0D6E72;
}

.custom-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.custom-card:nth-child(4n+1) {
    clear: left;
}



</style>



   <link rel="stylesheet" href="{{ asset('specialOrder.css') }}"/>
	<a href="{{ path('app_offre_new') }}">
		<div data-tooltip="offre" class="button mid">
			<div class="button-wrapper">
				<div class="text">Create New</div>
				<span class="icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewbox="0 0 16 16">
						<path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
					</svg>
				</span>
			</div>
		</div>
	</a>
<div class="row">
{% for offre in offres %}
  <div class="col-sm-4">
    <div class="custom-card">
      <h2>{{ offre.title }}</h2>
      <p>{{ offre.description }}</p>
      <p>{{ offre.category }}</p>
      <a href="{{ path('app_offre_show', {'idOffre': offre.idOffre}) }}">accepter</a>
    <form action="{{ path('app_offre_refuser', {'idOffre': offre.idOffre}) }}" method="POST">
    <input  type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre.idOffre) }}">
    <button style="    display: inline-block;
    margin-top: 10px;
    padding: 12px 20px;
    background-color: red;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;" type="submit">Refuser l'offre</button>
</form>

    </div>
  </div>
  {% if loop.index % 3 == 0 %}
    </div><div class="row">
  {% endif %}
{% endfor %}
</div>


 



{% endblock %}