{% block stylesheets %}
<style>
    .left-msg,
    .right-msg{
        display: flex;
        height: auto;
    }

    .right-msg{
        position: relative;
        margin-left:auto;
    }

    .displayed-msg-right{
        min-height: 40px;
        height: auto;
        width: auto;
        margin-top: 25px;
        max-width: 400px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        background-color: blue;
        border-radius: 15px;
        padding: 10px 10px 10px 10px;
        color: white;
        font-family: 'Trebuchet MS';
    }

    .displayed-msg-left{
        height: auto;
        width: auto;
        margin-top: 25px;
        max-width: 400px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        background-color: #DADADA;
        border-radius: 15px;
        padding: 10px 10px 10px 10px;
        color: #2E2E2E;
        font-family: 'Trebuchet MS';
    }

    .contact-img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
</style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(() => {
            $("#cc-container").attr("id", "{{ convo.getId() }}"); //put convo's id to cc-container //put us
            profileSetup();
            scrollBot();
        });

        function profileSetup(){
            $("#profile-username").html("<b>{{ cp.other_participant(convo).username }}</b>");
        }
    </script>
{% endblock %}

{% block conversation %}
    {% for msg in convo.getMessages() %}
        {% if msg.getUser().getId() == cp.current_user().getId() %}
            <div class="right-msg">
                <div class="displayed-msg-right">{{ msg.getContent() }}</div>
                <img src="{{ asset('resources/default.jpg') }}" class="contact-img">    
            </div>
        {% else %}
            <div class="left-msg">
                <img src="{{ asset('resources/default.jpg') }}" class="contact-img">
                <div class="displayed-msg-left">{{ msg.getContent() }}</div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}