{% extends 'baseBack.html.twig' %}

{% block title %}Tests List{% endblock %}

{% block contentblock %}
{% for message in app.flashes('info')%}
<div class="alert alert-success"> {{message}}
</div>
{% endfor %}
<div class="table-responsive">
<div class="d-flex flex-column-reverse">
    <table class="table">
        <thead>
            <tr>
                
                
                <th>Titre</th>
                <th>Categorie</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test in test %}
            <tr>
                <td>{{ test.titre }}</td>
                <td>{{ test.categorie }}</td>
                <td>{{ test.description }}</td>
                <td>{{ test.prix }}</td>
                <td>
                <div style="display: flex; justify-content: space-between;">
                <a href="{{ path('app_test_delete', {'id': test.id}) }}">
                    <button type="button" class="btn btn-primary btn-rounded btn-fw">delete</button>
                    </a>
                <a href="{{ path('app_test_edit', {'id': test.id}) }}">
                    <button type="button" class="btn btn-warning btn-rounded btn-fw">edit</button>
                    </a>
                <a href="{{ path('app_quest_create', {'id': test.id}) }}">
                    <button type="button" class="btn btn-warning btn-rounded btn-fw">question create</button>
                    </a>
                </div>
                    
                    
                </td>
            </tr>
        {% endfor %}
        <div class="mt-3 mb-5">
            {{ knp_pagination_render(test) }}
        </div>
        </tbody>
    </table>
</div>
    </div>
    
{% endblock %}
