{% extends 'basefront.html.twig' %}

{% block contentblock %}


 <div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card border-danger shadow">
        <div class="card-header bg-danger text-white">
          <h5 class="mb-0">{{ wallet.nomWallet }}</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="d-flex flex-column align-items-center">
                <h6 class="mb-0">Solde</h6>
                <h3 class="text-danger">$ {{ wallet.solde }}</h3>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex flex-column align-items-center">
                <h6 class="mb-0">Bonus</h6>
                <h3 class="text-danger">$ {{ wallet.bonus }}</h3>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex flex-column align-items-center">
                <h6 class="mb-0">Clé</h6>
                <h3 class="text-danger">{{ wallet.cle }}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a  class="btn btn-danger" onclick="toggleTransferForm()">Transferer</a>
          <a   onclick="toggleForm()" class="btn btn-danger">Depot</a>
          <a  href ="{{ path('transactions', {'id': wallet.id}) }}"class="btn btn-danger">Mes Transactions</a>
        </div>
      </div>
    </div>
  </div>
</div>

<form action="{{ path('deposit_funds', {'id': wallet.id}) }}"  id="deposit-form" method="post" style="display: none;">
  <div class="form-group">
    <label for="amount">Deposit Amount:</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="number" class="form-control" id="amount" name="amount" min="0" step="0.01" required>
    </div>
  </div>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_51MwJ29E0OtMUuunr3wQmtNyBuGvEvyVWQOfAx1KtBttUp8dubsMIOxNgXoZaBBAywu4hWfew72LBRk7ylwNwYgxG006gIlCFah"
          data-amount=""
          data-name="{{ wallet.nomWallet }}"
          data-description="Deposit funds"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto"
          data-currency="usd"
          data-closed="onPaymentSuccess"
          data-token="tok_1234567890"
           
          >
  </script>
</form>
<div id="transfer-form" style="display: none;">
  <form action="{{ path('transfer_funds', {'id': wallet.id}) }}" method="post">
    <div class="form-group">
      <label for="cle">Cle:</label>
      <input type="text" class="form-control" id="cle" name="cle" required>
      <span id="cle-error" style="display: none; color: red;"></span>
      
    </div>
    <div class="form-group">
      <label for="montant">Montant:</label>
      <input type="number" class="form-control" id="montant" name="montant" min="0" step="0.01" required>
      <div class="alert alert-danger" role="alert" id="errorMessage"></div>
    </div>
    <button type="submit" class="btn btn-danger" onclick="return validateForm()">Transferer</button>
  </form>
</div>
<script>
 function validateForm() {
        var cleInput = document.getElementById("cle");
        var montantInput = document.getElementById("montant");
        var errorMessage = document.getElementById("errorMessage");
        var cleValue = cleInput.value;
        var montantValue = montantInput.value;

        if (cleValue.length != 10) {
            errorMessage.innerHTML = "Cle must be 10 characters long";
            return false;
        } else if (parseFloat({{ wallet.solde }}) < parseFloat(montantValue)) {
            errorMessage.innerHTML = "Insufficient balance";
            return false;
        } else {
            errorMessage.innerHTML = "";
            return true;
        }
    }
  function toggleTransferForm() {
    var form = document.getElementById("transfer-form");
    if (form.style.display === "none") {
      form.style.display = "block";
    } else {
      form.style.display = "none";
    }
  }
</script>
<script>
  
  function displaySuccessModal() {
    $('#success-modal').modal('show');
  }

  function onPaymentSuccess(response) {
    var amount = response.amount;
    var xhr = new XMLHttpRequest();
    xhr.open('GET', "{{ path('app_succes', {'id': wallet.id}) }}?amount=" + amount, true);
    xhr.send();
    displaySuccessModal();
  }
</script>
<script>
function toggleForm() {
  var form = document.getElementById("deposit-form");
  if (form.style.display === "none") {
    form.style.display = "block";
  } else {
    form.style.display = "none";
  }
}
</script>
{% endblock %}