{% extends 'baseFront.html.twig' %}

{% block title %}Wallets{% endblock %}

{% block contentblock %}
  <h1>Mes Wallets</h1>

  {% for wallet in wallets %}
    <div class="wallet">
      <div class="wallet-header">
        <h2>{{ wallet.nomWallet }}</h2>
        <div class="wallet-actions">
          <a href="{{ path('app_mywallet', {'id': wallet.id}) }}">Géerer</a>
          <a href="{{ path('app_wallet_edit', {'id': wallet.id}) }}">Modifier</a>
        </div>
      </div>
      <div class="wallet-body">
        <div class="wallet-info">
          <div class="wallet-info-item">
            <p>Solde:</p>
            <span class="dollar">{{ wallet.solde }}</span>
          </div>
          <div class="wallet-info-item">
            <p>Bonus:</p>
            <span class="bonus">{{ wallet.bonus }}</span>
          </div>
          <div class="wallet-info-item">
            <p>Tel:</p>
            <span>{{ wallet.tel }}</span>
          </div>
          <div class="wallet-info-item">
            <p>Cle:</p>
            <span>{{ wallet.cle }}</span>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <p>No records found.</p>
  {% endfor %}

  <a href="{{ path('app_wallet_new') }} " style="color: red; text-decoration: none; font-weight: bold;">Create new</a>

  <style>
    .wallet {
      border-radius: 5px;
      box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
      margin-bottom: 20px;
      overflow: hidden;
      color: #333;
      background-color: #fff;
    }
    .wallet-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: #D32F2F;
      color: #fff;
    }
    .wallet-header h2 {
      margin: 0;
      font-size: 24px;
    }
    .wallet-actions a {
      color: #fff;
      text-decoration: none;
      margin-left: 10px;
      font-weight: bold;
    }
    .wallet-actions a:hover {
      text-decoration: underline;
    }
    .wallet-body {
      padding: 20px;
      background-color: #fff;
    }
    .wallet-info {
      margin-bottom: 10px;
    }
    .wallet-info-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
    .wallet-info-item p {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
    }
    .dollar {
      font-weight: bold;
      color: #D32F2F;
    }
    .bonus {
      font-weight: bold;
      color: #FF5722;
    }
  </style>
{% endblock %}